body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #e4e7e9;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #f72905;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

input[type="text"], select, button {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #f72905;
  font-size: 14px;
}

button {
 background: rgb(247, 41, 5, 0.7);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
a {
 
  color: white;
 text-decoration: none;
}



table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  box-shadow: 0 2px 10px #f72905;
}

th, td {
  padding: 10px;
  border: 1px solid #f72905;
  text-align: left;
}

th {
  background: rgb(247, 41, 5, 0.7);
  color: white;
}

tr:nth-child(even) {
  background: #f2f2f2;
}

tr:hover {
  background: #e6f0ff;
}

.loading {
  text-align: center;
  padding: 20px;
  font-size: 18px;
  color: #555;
}
#updateDelete_btn{

   background: rgb(247, 41, 5, 0.7);
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.editBtn,
.deleteBtn {
  display: inline-block !important;
  padding: 5px 8px;
  margin: 2px;
  cursor: pointer;
}
#alumniTable td:last-child {
  background: yellow !important;
  color: black !important;
}

